<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="autofac" type="Ext.Configuration.SectionHandler, Ext" />
  </configSections>
  <autofac>
    <modules>
      <module type="DemoConsole.ConcreteRegistrationModule, DemoConsole" />
      <module type="DemoConsole.RepositoryRegistrationModule, DemoConsole" />
    </modules>
    <!-- below supports instance-scope values of 'perdependency', 'singleinstance', 'perlifetimescope', 'perrequest' -->
    <components>
      <component type="Lib.Logger, Lib" service="Lib.Abstractions.ILogger, Lib" instance-scope="perdependency" />
    </components>
  </autofac>
</configuration>