<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="diWrappers" type="Lib.Configuration.DiWrappersConfigurationSection, Lib" />
  </configSections>
  <diWrappers>
    <loggers>
      <add name="console" type="Lib.ConsoleLogger, Lib" enabled="true" />
      <add name="trace" type="Lib.TraceLogger, Lib" enabled="true" />
    </loggers>
  </diWrappers>
</configuration>