<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="autofac" type="Core.AutofacExtensions.Configuration.SectionHandler, Core.AutofacExtensions" />
    <section name="ninject" type="Core.NinjectExtensions.Configuration.SectionHandler, Core.NinjectExtensions" />
    <section name="diWrappers" type="Lib.Configuration.DiWrappersConfigurationSection, Lib" />
  </configSections>
  <appSettings>
    <add key="XcontainerManager" value="Core.AutofacExtensions.ContainerManager, Core.AutofacExtensions"/>
    <add key="containerManager" value="Core.NinjectExtensions.ContainerManager, Core.NinjectExtensions"/>
  </appSettings>
  <autofac>
    <modules>
      <module type="Core.AutofacExtensions.RegistrationModule, Core.AutofacExtensions" />
      <module type="AutofacExtensions.RegistrationModule, AutofacExtensions" />
    </modules>
  </autofac>
  <ninject>
    <modules>
      <module type="Core.NinjectExtensions.RegistrationModule, Core.NinjectExtensions" />
      <module type="NinjectExtensions.RegistrationModule, NinjectExtensions" />
    </modules>
  </ninject>
  <diWrappers>
    <loggers>
      <add name="console" type="Lib.ConsoleLogger, Lib" enabled="true" />
      <add name="trace" type="Lib.TraceLogger, Lib" enabled="true" />
    </loggers>
  </diWrappers>
</configuration>