<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="aspcore" type="Core.AspCoreExtensions.Configuration.SectionHandler, Core.AspCoreExtensions" />
    <section name="autofac" type="Core.AutofacExtensions.Configuration.SectionHandler, Core.AutofacExtensions" />
    <section name="ninject" type="Core.NinjectExtensions.Configuration.SectionHandler, Core.NinjectExtensions" />
    <section name="castleWindsor" type="Core.CastleWindsorExtensions.Configuration.SectionHandler, Core.CastleWindsorExtensions" />
    <section name="unity" type="Core.UnityExtensions.Configuration.SectionHandler, Core.UnityExtensions" />
  </configSections>
  <appSettings>
    <!-- ASP Core -->
    <add key="containerManager" value="Core.AspCoreExtensions.ContainerManager, Core.AspCoreExtensions"/>
    <!-- Autofac -->
    <add key="XcontainerManager" value="Core.AutofacExtensions.ContainerManager, Core.AutofacExtensions"/>
    <!-- Ninject -->
    <add key="XcontainerManager" value="Core.NinjectExtensions.ContainerManager, Core.NinjectExtensions"/>
    <!-- CastleWindsor -->
    <add key="XcontainerManager" value="Core.CastleWindsorExtensions.ContainerManager, Core.CastleWindsorExtensions"/>
    <!-- Unity - IN PROGRESS -->
    <add key="XcontainerManager" value="Core.UnityExtensions.ContainerManager, Core.UnityExtensions"/>
  </appSettings>
  <aspcore>
    <modules>
      <module type="Core.AspCoreExtensions.RegistrationModule, Core.AspCoreExtensions" />
      <module type="MoviePhile.AspCoreExtensions.RegistrationModule, MoviePhile.AspCoreExtensions" />
    </modules>
  </aspcore>
  <autofac>
    <modules>
      <module type="Core.AutofacExtensions.RegistrationModule, Core.AutofacExtensions" />
      <module type="MoviePhile.AutofacExtensions.RegistrationModule, MoviePhile.AutofacExtensions" />
    </modules>
  </autofac>
  <ninject>
    <modules>
      <module type="Core.NinjectExtensions.RegistrationModule, Core.NinjectExtensions" />
      <module type="MoviePhile.NinjectExtensions.RegistrationModule, MoviePhile.NinjectExtensions" />
    </modules>
  </ninject>
  <castleWindsor>
    <modules>
      <module type="Core.CastleWindsorExtensions.RegistrationModule, Core.CastleWindsorExtensions" />
      <module type="MoviePhile.CastleWindsorExtensions.RegistrationModule, MoviePhile.CastleWindsorExtensions" />
    </modules>
  </castleWindsor>
  <unity>
    <modules>
      <module type="Core.UnityExtensions.RegistrationModule, Core.UnityExtensions" />
      <module type="MoviePhile.UnityExtensions.RegistrationModule, MoviePhile.UnityExtensions" />
    </modules>
  </unity>
</configuration>