<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ninject" type="Ext.Configuration.SectionHandler, Ext" />
  </configSections>
  <ninject>
    <modules>
      <module type="DemoConsole.RepositoryRegistrationModule, DemoConsole" />
    </modules>
    <!-- below supports instance-scope values of 'transient', 'singleton', 'lifetimescope' -->
    <components>
      <component type="Lib.Logger, Lib" service="Lib.Abstractions.ILogger, Lib" instance-scope="transient" />
    </components>
  </ninject>
</configuration>