@model System.Collections.Generic.IEnumerable<Lib.Hero>

@{
    Layout = null;
    var grid = new WebGrid(Model);
}

<!DOCTYPE html>

<html>
    <head>
        <title>Avengers</title>
    </head>
    <body>
        <div>
            @grid.GetHtml()
        </div>
        <br /><br />
        <div>
            @Html.ActionLink("Home", "Index")
        </div>
    </body>
</html>
