@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <div>
            @Html.ActionLink("All Avengers", "Avengers")
            <br /><br />
            @Html.ActionLink("Single Avenger", "Avenger", new { name = "ironman" })
        </div>
    </body>
</html>
